@model Online_Exam_Project_Main.Models.Subject_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject_tbl</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subject_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject_code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.subject_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
