@model IEnumerable<Online_Exam_Project_Main.Models.Result_tbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidate_tbl.candidate_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam_tbl.exam_title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidate_tbl.candidate_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam_tbl.exam_title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.result_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.result_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.result_id })
        </td>
    </tr>
}

</table>
