@model Online_Exam_Project_Main.Models.Candidate_tbl

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Candidate_tbl</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.candidate_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidate_name)
                @Html.ValidationMessageFor(model => model.candidate_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.candidate_password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidate_password)
                @Html.ValidationMessageFor(model => model.candidate_password)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Want to Registration? Please Registration", "Create")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
